In [1]:
import json

alpha_vantage_api_key = None

with open("../config.json") as config:
    alpha_vantage_api_key = json.load(config)["alpha_vantage_api_key"] 

alpha_vantage_api_key

'MYSVBQMG0HY6KDVI'

In [23]:
# https://www.alphavantage.co/documentation/
import requests

'''
    Returns price-history for a single
    ticker as JSON
'''
def _get_data(ticker_symbol):
    default_request_params = {
        #"symbol": None, # required
        "function": "TIME_SERIES_DAILY",
        "outputsize": "compact",
        "datatype": "json",
        "apikey": alpha_vantage_api_key
    }
    
    request_params = dict( default_request_params )
    request_params["symbol"] = ticker_symbol
    
    response = requests.get("https://www.alphavantage.co/query?", params=request_params)
    
    return response.json()

In [34]:
'''
    Returns price-history for given
    tickers as a datetime-indexed dataframe
'''
def get_data(list_of_ticker_symbols):
    master_df = pd.DataFrame()

    for ticker_symbol in list_of_ticker_symbols:
        data = _get_data(ticker_symbol)
        data_as_df = pd.DataFrame.from_dict( data["Time Series (Daily)"], orient='index' ) # !! flagged for unoptimized 

        # extract closing price
        master_df[ticker_symbol] = data_as_df["4. close"].apply( lambda price : float(price) )  
    
    return master_df

In [35]:
# Example 
example_stock_list = "CHK AMD GE UBER BAC GDX BABA KR FIT GOLD AAPL M MS SIRI MSFT".split(" ")



example_df = get_data(example_stock_list[:3])

example_df

              CHK     AMD      GE
2019-06-17  1.830  29.200  10.050
2019-06-18  1.900  30.450  10.420
2019-06-19  1.830  30.500  10.340
2019-06-20  1.980  30.010  10.630
2019-06-21  1.950  29.100  10.480
2019-06-24  1.910  29.260  10.280
2019-06-25  1.830  28.860  10.220
2019-06-26  1.910  29.920  10.270
2019-06-27  1.880  30.740  10.400
2019-06-28  1.950  30.370  10.500
2019-07-01  1.960  31.200  10.630
2019-07-02  1.850  31.240  10.620
2019-07-03  1.840  31.190  10.610
2019-07-05  1.850  31.500  10.500
2019-07-08  1.810  32.040  10.200
2019-07-09  1.810  33.150  10.250
2019-07-10  1.910  33.790  10.200
2019-07-11  1.900  33.060  10.110
2019-07-12  1.930  33.210  10.370
2019-07-15  1.830  34.390  10.270
2019-07-16  1.770  33.850  10.380
2019-07-17  1.700  33.600   9.980
2019-07-18  1.580  33.000  10.060
2019-07-19  1.620  32.510  10.040
2019-07-22  1.640  32.850  10.210
2019-07-23  1.680  33.490  10.650
2019-07-24  1.730  34.110  10.680
2019-07-25  1.680  33.670  10.430
2019-07-26  1.650  34.020  10.510
2019-07-29  1.640  33.480  10.380
...           ...     ...     ...
2019-09-25  1.420  29.540   9.160
2019-09-26  1.410  29.470   9.020
2019-09-27  1.400  28.720   9.040
2019-09-30  1.410  28.990   8.940
2019-10-01  1.330  28.760   8.610
2019-10-02  1.320  28.310   8.510
2019-10-03  1.360  28.680   8.710
2019-10-04  1.360  29.010   8.570
2019-10-07  1.330  28.930   8.560
2019-10-08  1.280  28.230   8.280
2019-10-09  1.270  28.460   8.350
2019-10-10  1.290  28.380   8.450
2019-10-11  1.390  29.750   8.800
2019-10-14  1.340  30.530   8.720
2019-10-15  1.340  30.720   8.890
2019-10-16  1.310  30.810   8.900
2019-10-17  1.310  31.140   9.040
2019-10-18  1.290  30.970   8.960
2019-10-21  1.360  32.030   8.790
2019-10-22  1.350  31.510   9.060
2019-10-23  1.430  31.360   9.140
2019-10-24  1.480  31.720   8.950
2019-10-25  1.560  32.710   9.000
2019-10-28  1.470  33.690   9.070
2019-10-29  1.470  33.030   9.070
2019-10-30  1.400  33.130  10.110
2019-10-31  1.340  33.930   9.980
2019-11-01  1.440  34.890  10.380
2019-11-04  1.560  36.290  10.930
2019-11-05  1.315  36.795  10.865

[100 rows x 3 columns]

In [39]:
example_df.corr()

          CHK       AMD        GE
CHK  1.000000  0.138386  0.640583
AMD  0.138386  1.000000  0.453216
GE   0.640583  0.453216  1.000000